<h1>Widhya Task - 2</h1>

<h2>Stock Price Prediction Using Linear Regression</h2>

<h3>By - Heta R. Patel</h3>

In [661]:
#import all the required Packages and libraries
import pandas as pd
import numpy as np
import seaborn as sns
import math
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

<h4>The data required is imported from www.quandl.com</h4>

In [662]:
import quandl

In [663]:
#Authentication of Quandl Module using Quandl API key
quandl.ApiConfig.api_key = " "               #Enter your Quandl code here

In [664]:
#Selecting Stock Prices of Apple Inc. using quandl code
data = quandl.get("EOD/AAPL")

In [665]:
data.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0

In [666]:
data.tail()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2017-12-21,174.17,176.020,174.100,175.01,20949896.0,0.0,1.0,41.899570,42.344619,41.882730,42.101646,83799584.0
2017-12-22,174.68,175.424,174.500,175.01,16349444.0,0.0,1.0,42.022259,42.201241,41.978957,42.101646,65397776.0
2017-12-26,170.80,171.470,169.679,170.57,33185536.0,0.0,1.0,41.088858,41.250038,40.819183,41.033528,132742144.0
2017-12-27,170.10,170.780,169.710,170.60,21498213.0,0.0,1.0,40.920461,41.084047,40.826640,41.040745,85992852.0
2017-12-28,171.00,171.850,170.480,171.08,16480187.0,0.0,1.0,41.136972,41.341454,41.011877,41.156217,65920748.0

In [667]:
data.shape

(1090, 12)

<h4>Adding 2 new Columns</h4>

In [668]:
#Adding High Low Percentage Column
data['HL_PCT'] = (data['Adj_High']-data['Adj_Low'])/data['Adj_Close']*100.0

In [669]:
#Adding Percentage Column
data['PCT_change'] = (data['Adj_Close']-data['Adj_Open'])/data['Adj_Open']*100.0

In [670]:
data.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_change
Date,,,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0,2.711941,-0.916650
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0,1.195129,-0.173953
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0,1.421447,-0.995502
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0,1.892738,-0.044138
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0,0.877176,0.231683

In [671]:
data.shape

(1090, 14)

In [672]:
data.describe()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_change
count,1090.000000,1090.000000,1090.000000,1090.000000,1.090000e+03,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1090.000000,1.090000e+03,1090.000000,1090.000000
mean,194.564537,196.114735,193.016676,194.613130,3.605114e+07,0.015642,1.005505,26.367551,26.578236,26.152043,26.373196,1.931334e+08,1.649472,0.026796
std,160.562848,161.812898,159.407381,160.647536,2.194473e+07,0.175122,0.181735,6.614490,6.640870,6.578682,6.616455,1.112891e+08,0.972525,1.147303
min,90.000000,90.700000,89.470000,90.280000,5.704900e+06,0.000000,1.000000,14.189776,14.561974,14.166335,14.258197,4.590369e+07,0.438218,-6.633066
25%,108.042500,108.942500,106.972500,108.007500,2.120714e+07,0.000000,1.000000,22.170235,22.433992,21.948836,22.201030,1.133450e+08,1.033811,-0.603549
50%,121.585000,122.504950,120.640000,121.755000,3.248325e+07,0.000000,1.000000,25.781510,26.055842,25.511496,25.789823,1.681963e+08,1.456946,0.046380
75%,156.905000,157.809625,155.744975,156.515000,4.673778e+07,0.000000,1.000000,29.329099,29.541994,29.133958,29.362853,2.394642e+08,1.965879,0.705480
max,649.900000,651.260000,644.470000,647.350000,1.895606e+08,3.290000,7.000000,42.125703,42.628488,42.065561,42.440845,1.065523e+09,16.291699,8.696110

In [673]:
#New DF with Important features
idata = data[['Adj_Close','Adj_Volume','HL_PCT','PCT_change']]

In [674]:
idata.head()

            Adj_Close   Adj_Volume    HL_PCT  PCT_change
Date
2013-09-03  15.476472  331928800.0  2.711941   -0.916650
2013-09-04  15.796753  345032800.0  1.195129   -0.173953
2013-09-05  15.688388  236367600.0  1.421447   -0.995502
2013-09-06  15.781833  359525600.0  1.892738   -0.044138
2013-09-09  16.033661  340687200.0  0.877176    0.231683

In [675]:
#Check new DF for NaN values
idata.isna().sum()

Adj_Close     0
Adj_Volume    0
HL_PCT        0
PCT_change    0
dtype: int64

No NaN values are present in the new dataframe

In [676]:
#for 10 days out so that we can generate prediction for every day for the next 10 days
idata['Prediction'] = idata[['Adj_Close']].shift(-10)

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [677]:
idata.head()

            Adj_Close   Adj_Volume    HL_PCT  PCT_change  Prediction
Date
2013-09-03  15.476472  331928800.0  2.711941   -0.916650   14.422914
2013-09-04  15.796753  345032800.0  1.195129   -0.173953   14.719406
2013-09-05  15.688388  236367600.0  1.421447   -0.995502   14.960780
2013-09-06  15.781833  359525600.0  1.892738   -0.044138   14.805882
2013-09-09  16.033661  340687200.0  0.877176    0.231683   15.541726

In [678]:
idata.tail()

            Adj_Close   Adj_Volume    HL_PCT  PCT_change  Prediction
Date
2017-12-21  42.101646   83799584.0  1.097080    0.482287         NaN
2017-12-22  42.101646   65397776.0  0.527970    0.188917         NaN
2017-12-26  41.033528  132742144.0  1.050009   -0.134660         NaN
2017-12-27  41.040745   85992852.0  0.627198    0.293945         NaN
2017-12-28  41.156217   65920748.0  0.800795    0.046784         NaN

In [679]:
idata.isna().sum()

Adj_Close      0
Adj_Volume     0
HL_PCT         0
PCT_change     0
Prediction    10
dtype: int64

In [680]:
#removing records(rows) with NaN values
idata = idata.dropna(axis=0)

In [681]:
idata.tail()

            Adj_Close   Adj_Volume    HL_PCT  PCT_change  Prediction
Date
2017-12-07  40.732819  102693232.0  0.903614    0.171567   42.101646
2017-12-08  40.744848   93420924.0  1.287123   -0.656930   42.101646
2017-12-11  41.538719  141095036.0  2.374472    2.050827   41.033528
2017-12-12  41.305369   77636920.0  0.541060   -0.261400   41.040745
2017-12-13  41.442492   95273788.0  0.893946   -0.133333   41.156217

<h4>Scaling data and fit it to the classifier and Converting DF to np.array</h4>

In [682]:
X = np.array(idata.drop(['Prediction'],1))

In [683]:
y = np.array(idata['Prediction'])

In [684]:
X

array([[ 1.54764725e+01,  3.31928800e+08,  2.71194073e+00,
        -9.16649767e-01],
       [ 1.57967529e+01,  3.45032800e+08,  1.19512885e+00,
        -1.73953079e-01],
       [ 1.56883878e+01,  2.36367600e+08,  1.42144689e+00,
        -9.95502249e-01],
       ...,
       [ 4.15387189e+01,  1.41095036e+08,  2.37447154e+00,
         2.05082742e+00],
       [ 4.13053688e+01,  7.76369200e+07,  5.41059988e-01,
        -2.61399942e-01],
       [ 4.14424921e+01,  9.52737880e+07,  8.93945551e-01,
        -1.33333333e-01]])

In [685]:
print(y)
print('\n',y.shape)

[14.42291424 14.71940567 14.96078011 ... 41.03352802 41.04074503
 41.15621723]

 (1080,)

In [686]:
print(np.argwhere(np.isnan(y)),' ',y.shape)
print(np.argwhere(np.isnan(X)),' ',X.shape)

[]   (1080,)
[]   (1080, 4)

<h3>Scaling(normalization) of data</h3>

In [687]:
#scaler = StandardScaler()
#scaler.fit(X)

In [688]:
#X_scaler = scaler.transform(X)
#X_scaler

In [689]:
#print('Mean: ',X_scaler.mean(axis=0))
#print('STD: ',X_scaler.std(axis=0))

<h3>Split data into train and test data</h3>

In [690]:
X_train,x_test,Y_train,y_test = train_test_split(X, y, test_size = 0.25, random_state = 1)

In [691]:
X_train.shape

(810, 4)

In [692]:
x_test.shape

(270, 4)

In [693]:
Y_train.shape

(810,)

In [694]:
y_test.shape

(270,)

In [695]:
model = LinearRegression()
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [696]:
confidance = model.score(X_train,Y_train)
print('Confidance(Training Score): ',confidance*100)
conf = model.score(x_test,y_test)
print('Confidance(Test Score): ',conf*100)

Confidance(Training Score):  96.94833762223907
Confidance(Test Score):  96.80814001144324

<h4>Model Prediction</h4>

In [697]:
y_pred = model.predict(x_test)
y_pred.shape

(270,)

<h4>Model Accuracy</h4>

In [698]:
accu = metrics.r2_score(y_test,y_pred)
print("Accuracy Score of Model: ",round(accu*100,3),'%')

Accuracy Score of Model:  96.808 %

<h4>Actual v/s Predicted</h4>

In [699]:
pred = pd.DataFrame({'Actual Price':y_test , 'Predicted Price':y_pred})
pred.head()

   Actual Price  Predicted Price
0     29.337780        30.696218
1     24.988656        26.022743
2     26.316769        30.289894
3     17.027688        17.318922
4     23.632776        22.770065

<h4>Model Evaluation</h4>

In [700]:
print('Mean Squared Error: ',mean_squared_error(y_test,y_pred))
print('R squared/coefficient of determination: ',r2_score(y_test,y_pred))
print('Mean Squared Error: ',mean_absolute_error(y_test,y_pred))

Mean Squared Error:  1.360290480855569
R squared/coefficient of determination:  0.9680814001144324
Mean Squared Error:  0.890209467813388

<h3>Price prediction function</h3>

In [701]:
def Predict_price(days):
    
    #create variable equalent to n variables
    n = days
    idata['Prediction'] = idata[['Adj_Close']].shift(-n) 
   # idata = idata.dropna(axis=0)
    
    #Converting DF to numpy array
    X = np.array(idata.drop(['Prediction'],1))
    y = np.array(idata['Prediction'])
    
    #remove n values from each X and y
    X = X[:-n]
    y = y[:-n]
    
    #Spit data into Train and test
    X_train,x_test,Y_train,y_test = train_test_split(X, y, test_size = 0.25, random_state = 1)

    model = LinearRegression()
    model.fit(X_train,Y_train)
    
    confidance = model.score(X_train,Y_train)
    print('Confidance(Training Score): ',round(confidance*100,3),'%','\n')
    conf = model.score(x_test,y_test)
    print('Confidance(Test Score): ',round(conf*100,3),'%','\n')
    
    y_pred = model.predict(x_test)
    accu = metrics.r2_score(y_test,y_pred)
    print("Accuracy Score of Model: ",round(accu*100,3),'%','\n')
    
    
    # Set x_forecast equal to the last 10 rows of the original data set from Adj. Close column
    x_forecast = np.array(idata.drop(['Prediction'],1))[-n:]

    
    # Print linear regression model predictions for the next '10' days
    lr_prediction = model.predict(x_forecast)
    print('Prediction for next {} day price:\n\n{}'.format(n,lr_prediction))

In [702]:
#Predicted price for next 6 days
Predict_price(6)

Confidance(Training Score):  98.072 %

Confidance(Test Score):  98.084 %

Accuracy Score of Model:  98.084 %

Prediction for next 6 day price:

[40.82594175 40.88379846 40.95975138 41.65108883 41.46428917 41.61133074]

In [703]:
#Predicted price for next 1 days
Predict_price(1)

Confidance(Training Score):  99.674 %

Confidance(Test Score):  99.686 %

Accuracy Score of Model:  99.686 %

Prediction for next 1 day price:

[41.47061445]

In [704]:
#Predicted price for next 10 days
Predict_price(10)

Confidance(Training Score):  96.719 %

Confidance(Test Score):  96.95 %

Accuracy Score of Model:  96.95 %

Prediction for next 10 day price:

[41.54091766 41.35437825 41.10411513 41.0267404  40.8624947  40.95650159
 40.98593635 41.71295147 41.53916274 41.67084036]

In [705]:
#Predicted price for next 15 days
Predict_price(15)

Confidance(Training Score):  94.602 %

Confidance(Test Score):  96.114 %

Accuracy Score of Model:  96.114 %

Prediction for next 15 day price:

[42.00787143 42.03504238 41.87046902 41.68824722 40.99409562 41.32039409
 41.11769583 40.9319562  40.85160174 40.71559285 40.69586409 40.78833867
 41.5145498  41.25954936 41.40468776]

<h7>******************************************* END *******************************************</h7>